
.leave6000
    animation-name: leave
    animation-duration: 500ms
    animation-delay: 5500ms
    animation-timing-function: ease 
    animation-iteration-count: 1

@keyframes leave
    from
        opacity: 1
    to
        opacity: 0

@keyframes slider
    0%
        transform: translateX(-100%)
    90%
        opacity: 1
    100%
        transform: translateX(0%)
        opacity: 0
