.flex
    display: flex 

.flex-center
    display: flex
    justify-content: center
    align-items: center    

.fa-start
    align-items: flex-start

.fa-end
    align-items: flex-end

.fa-center
    align-items: center

.fj-start
    justify-content: flex-start

.fj-center
    justify-content: center

.fj-end
    justify-content: flex-end

.fj-sb
    justify-content: space-between

.fd-column
    flex-direction: column

.relative
    position: relative

.absolute
    position: absolute

.max-whcell
    max-width: 100%
    height: 100%
    width: 0

.max-block
    display: block
    width: 100%
    height: 100%