@import '../../style/_mixins'

$widthImg: 30vw
$heightImg: calc(100% + 60px)
$heightCarousel: 100vh

body
    font-family: 'Poppins', sans-serif

.carousel
    padding: 60px 41px
    overflow: hidden
    background-color: #000


.carousel-items 
    &__size   
        flex-grow: 2
        height: $heightCarousel
        position: relative
        overlow: hidden
        +r(xl)
            height: 60vh
        +r(lg)
            height: 50vh
        +r(sm)
            height: 40vh
        +r(xs)
            height: 30vh
        +r(xxs)
            height: 20vh

.carousel-size
    position: relative
    width: $widthImg
    height: $heightImg
    overflow: hidden