@import '../../../style/_color'
@import '../../../../node_modules/rfs/sass'
    
.logo
    cursor: pointer
    color: $whiteCl
    font-weight: 900
    +rfs(1.3rem)
    transition: color .3s ease-in .3s
    &.black
        color: $bgPageCl